POSTGRES_HOST=localhost #db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crown

REDIS_HOST=localhost #redis
REDIS_PORT=6379
REDIS_DB=0

PROJECT_TITLE=Crown Microservice
PROJECT_DESCRIPTION=Tender status tracking microservice

CORS_ALLOW_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=false
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

RUN_HOST=0.0.0.0
RUN_PORT=8000
DEBUG=true